<div class="center jumbotron">
<h1>RolePlay</h1>
<p>
This is the home page for Team 『 』 Orbital web application.
</p>

<% if !logged_in? %>
<%= link_to "Log in now!", login_path, class: "btn btn-lg btn-primary" %>
<% end %>  

<%= render 'layouts/footer' %>

</div>