<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | RolePlay</title>
  </head>

  <body>
    <h1>RolePlay</h1>
    <p>
    This is the home page for Team 『 』 Orbital web application.
    </p>
  </body>
</html>