<% provide(:title, 'Wishing Well') %>

<p>
Welcome to the Wishing Well, drop some coins and perhaps the well will improve your fortunes.
</p>

<p>
<%= link_to "make a wish", wishing_well_wish_path %>
</p>
