<% provide( :title, "Sacred Grove") %>




<div id = "prairies-container">
<p>
<h2>
<strong>
"Many heroes of old and legends reside below the sanctified grounds." 
</strong>
</h2> 
</p>

<CENTER>
<p>
<h3>
<strong>
occasionaly you hear a sigh from a distance.
</strong>
</h3> 
</p>
</CENTER>



<div id = "container">
<CENTER>

<%= link_to "Look Around",  fights_path, class: "btn btn-success"  %>

<%= link_to "Return to Map", starts_path, class: "btn btn-info" %>
</CENTER>

</div>

</div>