<% provide(:title, 'Castle') %>

<p>
As you head towards the throne room, you hear a strange voice calling out for you.
'Dear Adventurer from the clan of <%= @clan %>. Does thy wish to change thy's profession?'
</p>

