<% provide(:title, 'Town') %>

<div id="town-container" >

  <%= link_to item_shops_path do %>
  <div id = "shop-item" >

  </div>
  <% end %>

  <%= link_to wishing_wells_path do %>
  <div id = "wishing-well" >
  </div>
  <% end %>
  
  <%= link_to '#' do %>
  <div id = "shop-equipment" >
  </div>
  <% end %>

  <%= link_to '#' do %>
  <div id = "castle" >
  </div>
  <% end %>




</div>