<% provide(:title, "Savage Mountains") %>



<p>
Dangerous beasts fight for food in this desolate mountain range. Mythical beasts are rumoured to slumber beneath these mountains and feed off the agony of survival that lies above.
</p>