<div class="col-md-4">
  <div class="message">
	  <h2 class="message-title"><%= bugreport.title %></h2> <br>
	  <div style="text-align: center;">
		  <%= link_to "View Bug Report", bugreport_path(bugreport), class: "mbtn-custom" %>
	  </div>
  </div>
</div>