<% provide(:title, 'Wishing Well') %>

<p>
Welcome to the Wishing Well, drop some coins and perhaps the well will improve your fortunes.
</p>

<p>
<%= link_to "Make a wish", castletowns_wishing_wells_wish_path %>
</p>
