<% provide(:title, full_name(@user))%>

<%= render 'expbar' %>

<%= render 'profile' %>

<br>
<table>
  <tr>
    <th colspan = "4">Achievements</th>
  </tr>

  <tr>
    <th colspan="4"><br></th>
  </tr>
</table>