<% provide(:title, "Faerie Woods") %>



<p>
Magic permeates these forests. Occasionally shadows would move from tree to tree. However, you do not sense any hostility. A certain amount of luck is required to encounter the fairyfolk.

</p>