<% provide(:title, "Faerie Woods") %>






<div id = "prairies-container">
<p>
<h2>
<strong>
"Magic permeates these forests. Occasionally shadows would move from tree to tree. However, you do not sense any hostility." 
</strong>
</h2> 
</p>

<CENTER>
<p>
<h3>
<strong>
A certain amount of luck is required to encounter the fairyfolk.
</strong>
</h3> 
</p>
</CENTER>



<div id = "container">
<CENTER>

<%= link_to "Look Around",  fights_path, class: "btn btn-success"  %>

<%= link_to "Return to Map", starts_path, class: "btn btn-info" %>
</CENTER>

</div>

</div>