<% provide(:title, 'Death') %>


<CENTER>

<h2>
<p> 
"Your health has been restored, however your resurrection comes at a cost"
</p>
</h2>
</CENTER>

<div class = "container">
<CENTER>

<%= link_to "Return to Life", starts_path, class: "btn btn-info" %>
</CENTER>
</div>