<% provide(:title, 'Peaceful Prairies') %>


<div id = "prairies-container">
<p>
<h2>
<strong>
"Everything looks so peaceful, the empty fields of green grass and lines of shrub calms your heart." 
</strong>
</h2> 
</p>

<CENTER>
<p>
<h3>
<strong>
Lvl 1 users can be seen bashing through bushes.
</strong>
</h3> 
</p>
</CENTER>



<div id = "container">
<CENTER>

<%= link_to "Look Around",  fights_path, class: "btn btn-success"  %>

<%= link_to "Return to Map", starts_path, class: "btn btn-info" %>
</CENTER>

</div>

</div>


