<% provide(:title, 'Peaceful Prairies') %>


<div id = "prairies-container">
<p>
Everything looks so peaceful, the empty fields of green grass and lines of shrub calms your heart. Lvl 1 users can be seen bashing through bushes. 
</p>

</div>