

<footer class="footer">
  <small>
    Developed by Team 『 』
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

<!--
<header class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">

  <nav>
  <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>


  </div>
</header>
-->