<% provide(:title, 'Item Shop') %>

<p>
Various concoctions of ominous and fluorescent colors are scattered across the heavily laden shelves.
The glowing vials of crimson and cyan radiate an aura of might that permeates the air around you. You question the safety of ingesting such dubious liquids.
</p>